<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href=/favicon.ico>
<title>teste-spring-vue2</title>
<link th:href="@{/js/about.40982c22.js}" rel="prefetch">
<link th:href="@{/css/app.3c0b035c.css}" rel="preload" as="style">
<link th:href="@{/js/app.61e9c523.js}" rel="preload" as="script">
<link th:href="@{/js/chunk-vendors.3af54d56.js}" rel="preload" as="script">
<link th:href="@{/css/app.3c0b035c.css}" rel="stylesheet">
</head>
<body>
	<noscript>
		<strong>We're sorry but teste-spring-vue2 doesn't work
			properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<script th:src="@{/js/chunk-vendors.3af54d56.js}"></script>
	<script th:src="@{/js/app.61e9c523.js}"></script>
</body>
</html>