<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.css}"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<title>Listar Deputados</title>
</head>
<body class="container">
	<section layout:fragment="content">
		<div class="row">
					
		</div>
		<div class="panel panel-success" style="margin: 10px">
			
			
			<div class="panel-body">
			<h3 class="text-center">Lista de Deputados - Página <span th:text="${current}"></span> de <span th:text="${last}"></span></h3>
				<table id="mytable" class="table table-condensed table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Partido</th>
							<th>UF</th>
							<th>Total Despesas</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="deputado : ${deputados}">
							<td th:hidden="${deputado.id}"></td>
							<td >
								<span class="" th:text="${deputado.nome}"></span>
							</td>
							<td >
								<span class="" th:text="${deputado.siglaPartido}"></span>
							</td>
							<td >
								<span class="" th:text="${deputado.siglaUf}"></span>
							</td>
							<td >
								R$ <span class="" th:text="${#numbers.formatDecimal(deputado.totalDespesas, 0, 'POINT', 2, 'COMMA')}"></span>
							</td>
							<td >
								<a th:href="@{/deputados/despesa/}+${deputado.id}">Detalhar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li class="page-item" th:classappend="${current}-1 == 0? disabled : enabled" ><a class="page-link"  th:href="@{/deputados/}+${previous}">Anterior</a></li>
				    <li class="page-item" th:classappend="${current}==${last} ? disabled : enabled"><a class="page-link" th:href="@{/deputados/}+${next}">Próxima</a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</section>
</body>
</html>